html, body {margin: 0;height: 100%;/* overflow-y: hidden; */background-color: #857971;}
/*.bg1{
    width: 100%;
    height: auto;
    opacity: 50%;
    margin-top: -35px;
    z-index: -1;
    object-fit: fill; 
}
*/
.bgvid{
    width: 100%;
    /* height: 100%; */
    text-align:center;
    opacity: 30%;
}
.logo{
    border-radius: 100%;
    position: absolute;
    width: 15vw;
    /* min-width: 100px; */
    left: 42.5vw;
    top: 18.5vw;
    /* align-items: center; */
}
.maindiv{
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    /* overscroll-behavior-y: none; */
}
.nav{
    width: 100vw;
    display: flex;
    background-color: purple;
    height: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    /* justify-items: right; */
}
.navchild{
    /* flex-wrap: wrap; */
    border-color: black;
    border: 5px black;
    width: 205px;
    background-color: yellow;
    max-width: 100px;
}
/*@media screen and (max-width:790px) {
    .bg1{
        top:-5%;
    }
}*/